<div class="jumbotron">
    <h1>ConfigM Admin Console</h1>
    <p class="lead"> Microservice that provides storage and retrieval of configuration manifests. Manifests consist of name, description, version and a list of microservice properties as name/value pair. Properties provide the necessary information to be able to invoke a microservice at runtime such as the physical location of the public production API.</p>
    <p><a href="http://microservices.codeplex.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@*<div class="row">
    <div class="col-md-2">
        <h2>Manifests</h2>
            <table>
                <tr>
                    <td style="text-align: left;">
                        <select id="Manifests" onchange="manifestSelected()"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a class="btn btn-default" id="AddManifest" onclick="addManifest()">Add Manifest</a></p>                        
                    </td>
                </tr>
            </table>
    </div>
    <div class="col-md-8">
        <h2>Attributes</h2>
        <table id="AttributesTable">
            <tr>
                <td width="30%">Id: </td>
                <td width="70%"></td>
            </tr>

            <tr>
                <td width="30%">Modified Date: </td>
                <td width="70%"></td>
            </tr>

            <tr>
                <td width="30%">Version: </td>
                <td width="70%"></td>
            </tr>

            <tr>
                <td width="30%">Name: </td>
                <td width="70%"><input id="ManifestName" type="text" size="256"></td>
            </tr>

            <tr>
                <td width="30%">Description: </td>
                <td width="70%"><input id="ManifestDesc" type="text" size="256"></td>
            </tr>

            <tr>
                <td width="30%">Cache TTL: </td>
                <td width="70%"><input id="ManifestCacheTTL" type="text" size="12"></td>
            </tr>

            <tr>
                <td width="30%">Lineitems</td>
                <td width="70%"></td>
            </tr>
        </table>
        <p><a class="btn btn-default" id="UpdateButton" onclick="updateManifest()">Update</a>
        <p><a class="btn btn-default" id="SaveButton" disabled="true" onclick="saveManifest()">Save</a>
</div>
    <div class="col-md-1" ></div>
</div>*@

