<div class="jumbotron">
    <h1>ProfileM Admin Microservice</h1>
    <p class="lead">The ProfileM Microservice provides user profile services. A user profile consists of name, address, geo location as well as username and social networking information.</p>
    <p><a href="http://microservices.codeplex.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">

</div>
