<div class="jumbotron">
    <h1>BioMax IoT Biometric API</h1>
    <p class="lead">The Biometric API provides read access to the latest set of real-time readings coming from BioMax Biometric devices. The readings coming from the devics include temperature, heart rate, blood oxygen and glucose. The geo-location of the device is also tracked.</p>
    <p><a href="http://microservices.codeplex.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">

</div>
