<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigModels" version="1.2.5761.28547" targetFramework="net452" />
  <package id="IConfigPublic" version="1.2.5761.28548" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Wire" version="1.2.5747.30585" targetFramework="net452" />
</packages>