<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="bootstrap" version="3.0.0" targetFramework="net45" />
  <package id="ConfigAdminService" version="1.2.5770.22247" targetFramework="net452" />
  <package id="ConfigModels" version="1.2.5770.22233" targetFramework="net452" />
  <package id="IConfigAdmin" version="1.2.5770.22238" targetFramework="net452" />
  <package id="jQuery" version="1.10.2" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights" version="0.17.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="0.17.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="0.17.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.15.0-build12287" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="0.17.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Web" version="0.17.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Web.TelemetryChannel" version="0.17.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.Azure.DocumentDB" version="1.4.1" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Respond" version="1.2.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.481" targetFramework="net452" />
  <package id="StackExchange.Redis.StrongName" version="1.0.481" targetFramework="net452" />
  <package id="Store" version="1.2.5769.38512" targetFramework="net452" />
  <package id="WebGrease" version="1.5.2" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="3.0.3" targetFramework="net452" />
  <package id="Wire" version="1.2.5769.38505" targetFramework="net452" />
</packages>