<div class="jumbotron">
    <h1>RefM Microservice</h1>
    <p class="lead">The RefM Microservice provides retrieval of reference data. Reference data is any kind of data that is used categorize other data or for relating data to information beyond the boundaries of the enterprise. Reference data, sometimes called lookup data, is organized by domain such as ‘states’ or ‘countries’ and is defined by entities made up of codes and values such as two letter state abbreviations and the state name.</p>
    <p><a href="http://microservices.codeplex.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">

</div>
