<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigAdminSDK" version="1.2.5723.27037" targetFramework="net452" />
  <package id="ConfigModels" version="1.2.5723.27023" targetFramework="net452" />
  <package id="IConfigAdmin" version="1.2.5723.27026" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Wire" version="1.2.5720.19054" targetFramework="net452" />
</packages>