<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigAdminSDK" version="1.2.5835.21745" targetFramework="net452" />
  <package id="ConfigModels" version="1.2.5835.21729" targetFramework="net452" />
  <package id="IConfigAdmin" version="1.2.5835.21733" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Wire" version="1.2.5832.22169" targetFramework="net452" />
</packages>