<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BiometricsModels" version="1.0.5771.18038" targetFramework="net452" />
  <package id="ConfigModels" version="1.2.5770.24985" targetFramework="net452" />
  <package id="ConfigPublicSDK" version="1.2.5770.25003" targetFramework="net452" />
  <package id="IConfigPublic" version="1.2.5770.24988" targetFramework="net452" />
  <package id="IProfilePublic" version="1.2.5770.25792" targetFramework="net452" />
  <package id="Microsoft.Azure.DocumentDB" version="1.4.1" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.NotificationHubs" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.Azure.ServiceBus.EventProcessorHost" version="2.0.2" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="ProfileModels" version="1.2.5770.25789" targetFramework="net452" />
  <package id="ProfilePublicSDK" version="1.2.5770.25810" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.0.3" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="5.0.2" targetFramework="net452" />
  <package id="Wire" version="1.2.5769.38505" targetFramework="net452" />
</packages>