<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigModels" version="1.2.5747.30600" targetFramework="net452" />
  <package id="ConfigPublicSDK" version="1.2.5747.30611" targetFramework="net452" />
  <package id="DeviceAdminSDK" version="1.0.5754.30183" targetFramework="net452" />
  <package id="DeviceModels" version="1.0.5754.30169" targetFramework="net452" />
  <package id="IConfigPublic" version="1.2.5747.30601" targetFramework="net452" />
  <package id="IDeviceAdmin" version="1.0.5754.30172" targetFramework="net452" />
  <package id="IProfilePublic" version="1.2.5747.30672" targetFramework="net452" />
  <package id="Microsoft.Azure.Amqp" version="1.0.0-preview-002" targetFramework="net452" />
  <package id="Microsoft.Azure.Devices.Client" version="1.0.0-preview-003-1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="ProfileModels" version="1.2.5747.30670" targetFramework="net452" />
  <package id="ProfilePublicSDK" version="1.2.5747.30687" targetFramework="net452" />
  <package id="Wire" version="1.2.5747.30585" targetFramework="net452" />
</packages>