
<div class="row"> 
    <directive-hexbin class="hexbin hexbin-boston" ng-class="{'inactive': (selectedMeasure == 'chicago' || selectedMeasure == 'newyork') && isFrozen == true}" locations="{{bostonData.Locations}}" city="Boston" min-x="-71.340045" max-x="-71.05389" min-y="42.213782" max-y="42.524663" color-low="hotpink" color-high="#fd3189" ng-mouseenter="onScaleMouseenter('boston')" ng-mouseleave="onScaleMouseleave()"></directive-hexbin>

    <directive-hexbin class="hexbin hexbin-chicago" ng-class="{'inactive': (selectedMeasure == 'newyork' || selectedMeasure == 'boston') && isFrozen == true}" locations="{{chicagoData.Locations}}" city="Chicago" min-x="-88.323895" max-x="-87.334473" min-y="41.500803" max-y="42.499122" color-low="#c3d407" color-high="#b2b200" ng-mouseenter="onScaleMouseenter('chicago')" ng-mouseleave="onScaleMouseleave()"></directive-hexbin>

    <directive-hexbin class="hexbin hexbin-newyork" ng-class="{'inactive': (selectedMeasure == 'chicago' || selectedMeasure == 'boston') && isFrozen == true}" locations="{{newyorkData.Locations}}" city="New York" min-x="-73.999232" max-x="-73.660145" min-y="40.600892" max-y="40.899085" color-low="#2d90eb" color-high="#2375c0" ng-mouseenter="onScaleMouseenter('newyork')" ng-mouseleave="onScaleMouseleave()"></directive-hexbin>

    
</div>
<div class="row">
    <div class="scales col-md-6">  
        <directive-scale ng-class="{'inactive':selectedMeasure !== 'glucose' && isFrozen == true, 'hover-boston': selectedMeasure == 'boston', 'hover-chicago': selectedMeasure == 'chicago', 'hover-newyork': selectedMeasure == 'newyork'}" average="{{GlucoseAverage}}" high="{{GlucoseMax}}" low="{{GlucoseMin}}" label="G" ng-mouseenter="onScaleMouseenter('glucose')" ng-mouseleave="onScaleMouseleave()"></directive-scale>
        <directive-scale ng-class="{'inactive':selectedMeasure !== 'hr' && isFrozen == true, 'hover-boston': selectedMeasure == 'boston', 'hover-chicago': selectedMeasure == 'chicago', 'hover-newyork': selectedMeasure == 'newyork'}" average="{{HeartAverage}}" high="{{HeartMax}}" low="{{HeartMin}}" label="HR" ng-mouseenter="onScaleMouseenter('hr')" ng-mouseleave="onScaleMouseleave()"></directive-scale>
        <directive-scale ng-class="{'inactive':selectedMeasure !== 'temp' && isFrozen == true, 'hover-boston': selectedMeasure == 'boston', 'hover-chicago': selectedMeasure == 'chicago', 'hover-newyork': selectedMeasure == 'newyork'}" average="{{TempAverage}}" high="{{TempMax}}" low="{{TempMin}}" label="Temp" ng-mouseenter="onScaleMouseenter('temp')" ng-mouseleave="onScaleMouseleave()"></directive-scale>
        <directive-scale ng-class="{'inactive':selectedMeasure !== 'oxygen' && isFrozen == true, 'hover-boston': selectedMeasure == 'boston', 'hover-chicago': selectedMeasure == 'chicago', 'hover-newyork': selectedMeasure == 'newyork'}" average="{{OxygenAverage}}" high="{{OxygenMax}}" low="{{OxygenMin}}" label="O2" ng-mouseenter="onScaleMouseenter('oxygen')" ng-mouseleave="onScaleMouseleave()"></directive-scale>

    </div>
    <div class="col-md-3 donut"> 
        <directive-donut distribution="{{Distribution}}" total="{{Total}}"></directive-donut>
    </div>
    <div class="col-md-3">
        <div class="tile-summary" ng-include="'/app/templates/tiles/summary.html'"></div>
    </div> 
</div>
        

