<div class="jumbotron">
    <h1>DeviceM Admin</h1>
    <p class="lead">The DeviceM Admin Microservice provides BioMax device provisioning and registration services. A device is provisioned and registered to a particular end user. The registration will also include product information, serial number and the current firmeware version.</p>
    <p><a href="http://microservices.codeplex.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">

</div>
