<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigModels" version="1.2.5761.28547" targetFramework="net452" />
  <package id="ConfigPublicSDK" version="1.2.5761.28560" targetFramework="net452" />
  <package id="DeviceAdminSDK" version="1.0.5761.28968" targetFramework="net452" />
  <package id="DeviceModels" version="1.0.5761.28955" targetFramework="net452" />
  <package id="IConfigPublic" version="1.2.5761.28548" targetFramework="net452" />
  <package id="IDeviceAdmin" version="1.0.5761.28958" targetFramework="net452" />
  <package id="IProfilePublic" version="1.2.5761.29081" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="ProfileModels" version="1.2.5761.29080" targetFramework="net452" />
  <package id="ProfilePublicSDK" version="1.2.5761.29091" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.0.1" targetFramework="net452" />
  <package id="Wire" version="1.2.5747.30585" targetFramework="net452" />
</packages>