<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigModels" version="1.2.5770.24985" targetFramework="net452" />
  <package id="ConfigPublicSDK" version="1.2.5770.25003" targetFramework="net452" />
  <package id="DeviceAdminSDK" version="1.0.5770.25510" targetFramework="net452" />
  <package id="DeviceModels" version="1.0.5770.25489" targetFramework="net452" />
  <package id="IConfigPublic" version="1.2.5770.24988" targetFramework="net452" />
  <package id="IDeviceAdmin" version="1.0.5770.25494" targetFramework="net452" />
  <package id="IProfilePublic" version="1.2.5770.25792" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="ProfileModels" version="1.2.5770.25789" targetFramework="net452" />
  <package id="ProfilePublicSDK" version="1.2.5770.25810" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.0.1" targetFramework="net452" />
  <package id="Wire" version="1.2.5769.38505" targetFramework="net452" />
</packages>