<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigModels" version="1.2.5769.38520" targetFramework="net452" />
  <package id="ConfigPublicSDK" version="1.2.5769.38532" targetFramework="net452" />
  <package id="DeviceAdminSDK" version="1.0.5769.38648" targetFramework="net452" />
  <package id="DeviceModels" version="1.0.5769.38635" targetFramework="net452" />
  <package id="IConfigPublic" version="1.2.5769.38522" targetFramework="net452" />
  <package id="IDeviceAdmin" version="1.0.5769.38638" targetFramework="net452" />
  <package id="IProfilePublic" version="1.2.5769.38746" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="ProfileModels" version="1.2.5769.38745" targetFramework="net452" />
  <package id="ProfilePublicSDK" version="1.2.5769.38756" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.0.1" targetFramework="net452" />
  <package id="Wire" version="1.2.5769.38505" targetFramework="net452" />
</packages>