<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IRefPublic" version="1.2.5769.38859" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="RefModels" version="1.2.5769.38858" targetFramework="net452" />
  <package id="Wire" version="1.2.5769.38505" targetFramework="net452" />
</packages>