<div class="jumbotron">
    <h1>ProvisionM - Device Provisioning Services</h1>
    <p class="lead">The ProvisionM Microservice provides device provisioning services. A device manifest is passed in on creation. The device is registerd with IoT Hub which generates a security key. That key is then stored in the documentDb as part of the device manifest. The manifest will also include product information, serial number and the current firmeware version.</p>
</div>
<div class="row">

</div>
