<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IProfileAdmin" version="1.2.5769.38748" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="ProfileModels" version="1.2.5769.38745" targetFramework="net452" />
  <package id="Wire" version="1.2.5769.38505" targetFramework="net452" />
</packages>