<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IProfileAdmin" version="1.2.5761.29083" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="ProfileModels" version="1.2.5761.29080" targetFramework="net452" />
  <package id="Wire" version="1.2.5747.30585" targetFramework="net452" />
</packages>